<div *ngIf="addingContext">
  <div *ngIf="!loading" class="form-container">
    <h2 style="text-align: center;">Add context</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="pdfFile">Upload PDFs for Pinecone</label>
        <input type="file" id="pdfFile" name="pdfFile" (change)="onFileSelected($event)" accept=".pdf" required>
      </div>
      <div class="form-group">
        <label for="chunkSize">Chunk size</label>
        <input type="number" id="chunkSize" name="chunkSize" [(ngModel)]="chunkSize">
      </div>
      <button style="margin-right: 50%; background-color: orange;" (click)="closeAddContext()">Close</button>
      <button type="submit">Submit</button>
    </form>
  </div>
  <div *ngIf="loading">
    <h1 style="text-align: center; color: brown;">Loading...</h1>
  </div>
</div>
<div *ngIf="!addingContext">
  <div class="menu">
    <button (click)="addChat()">Add chat</button>
    <ul>
      <li *ngFor="let chat of chats" (click)="selectChat(chat)">
        {{ chat.name }}
        <span class="delete-icon" (click)="deleteChat(chat)">x</span>
      </li>
    </ul>
  </div>
  <div class="content">
    <h2 style="text-align: center;"> AI Engineer - LLM and Generative AI Assessment</h2>
    <div *ngIf="!addingChat">
      <div *ngIf="selectedChat">
        <p style="text-align: center;">{{ selectedChat.description }}</p>
        <button class="fixed-button-top" (click)="addContext()">Add context</button>
        <button class="fixed-button-bottom" (click)="quitChat()">Quit chat</button>
        <app-chat [chatIndex]=chatIndex></app-chat>
      </div>
      <div *ngIf="!selectedChat">
        <app-about-page></app-about-page>
      </div>
    </div>
    <div *ngIf="addingChat">
      <app-add-page></app-add-page>
    </div>
  </div>
</div>